<div class="container p-5">
  <h1 class="text-white text-center">One Man's Journey to Mastery of Nickelback</h1>
  <%= area_chart @activity_chart_points, colors: ['#111', '#555'],
                                         id: 'chart',
                                         height: '500px',
                                         xtitle: 'Time',
                                         ytitle: 'Total Hours Listened' %>

  <h2 class="text-white-50 text-center">Total Hours Listened: <%= number_with_delimiter(@total_duration / 1000 / 60 / 60) %></h2>
  <h2 class="text-white-50 text-center">Hours Remaining Until Mastery: <%= number_with_delimiter(10_000 - @total_duration / 1000 / 60 / 60) %></h2>
  <h2 class="text-white-50 text-center">Projected Date of Mastery: <%= @completion_date.strftime("%d %B %Y") %></h2>
  <h2 class="text-white-50 text-center">Only <%= (@completion_date.year - Time.now.utc.year) %> years remaining!</h2>
</div>
