<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      #chart {
        border: 3px solid #333;
        padding: 20px;
        background-color: #fff;
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body class="bg-dark">
    <div class="float-right m-3 text-white-50">Last updated: <span class="text-white"><%= Time.now.utc.strftime('%d %B %Y') %></span></div>
    <div class="container p-5">
      <h1 class="text-white text-left">One Man's Journey to Mastery of Nickelback</h1>
      <div id="chart"></div>
      <h2 class="text-white-50 text-left">Total Hours Listened: <span class="text-white"><%= (total_duration / 1000 / 60 / 60) %></span></h2>
      <h2 class="text-white-50 text-left">Hours Remaining Until Mastery: <span class="text-white"><%= (10_000 - total_duration / 1000 / 60 / 60).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></span></h2>
      <h2 class="text-white-50 text-left">Projected Date of Mastery: <span class="text-white"><%= completion_date.strftime("%d %B %Y") %></span></h2>
      <h2 class="text-white-50 text-left">Only <span class="text-white"><%= (completion_date.year - Time.now.utc.year) %></span> years remaining! <span class="text-white">\m/</span></h2>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.3.0/chartkick.min.js" integrity="sha256-pKi+C/L3JqiD10GzkevwyZ+pUZuKi5BxbPZiCg/Val4=" crossorigin="anonymous"></script>
    <script>
      var chartData = <%= activity_chart_points.to_json %>;
      $(function () {
        var options = {
          colors: ['#111', '#555'],
          id: 'chart',
          height: '500px',
          xtitle: 'Time',
          ytitle: 'Total Hours Listened'
        };

        new Chartkick.AreaChart('chart', chartData, options);
      });
    </script>
  </body>
</html>
